.root {
  .adDetails {
    border: 1px solid;
    margin-bottom: 20px;

    .mainRow {
      padding-top: 10px;
      display: flex;

      .photoSection {
        padding: 20px;
        display: flex;
        align-items: center;
        max-height: 400px;

        .photo {
          position: relative;
          overflow: hidden;

          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }

      }

      .infoSection {
        padding: 20px;
        display: flex;


        .infoContainer {


          .infoRow {
            display: flex;
            flex-direction: column;
            max-height: 240px;



            .title {
              border-bottom: 1px solid rgba(128, 128, 128, 0.3);

              h1 {
                font-size: 30px;
              }
            }

            .publishedDate {
              border-bottom: 1px solid rgba(128, 128, 128, 0.3);


              .date {
                padding: 10px 0;
                margin: 0 auto;
              }

            }

            .addressInfo {
              border-bottom: 1px solid rgba(128, 128, 128, 0.3);

              .address {
                padding: 10px 0;
                margin: 0 auto;
              }
            }

            .priceInfo {
              border-bottom: 1px solid rgba(128, 128, 128, 0.3);

              .price {
                padding: 10px 0;
                margin: 0 auto;
              }
            }
          }


          .contentRow {
            border-bottom: 1px solid rgba(128, 128, 128, 0.3);

            .content {
              // padding: 10px;
              font-size: 20px;
              margin: 0 auto;
            }
          }

          .sellerRow {
            margin: 0 auto;

            .sellerInfo {
              padding: 10px;
              font-size: 20px;
              display: flex;
              flex-direction: row;
              align-items: center;


              .avatar {
                height: 80px;
                width: 80px;
                overflow: hidden;

                img {
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                }

              }

              .login {
                margin: auto;
              }

              .phone {
                margin: auto;
              }

            }
          }
        }
      }
    }
  }
}